{% extends "registration/registration_base.html" %}
{% load i18n %}
{% block title %}{% trans "Login" %}{% endblock %}
{% block content %}
<h1>Login</h1>
{% url 'auth_password_reset' as auth_pwd_reset_url %}
{% url 'registration_register' as register_url%}

{% if form.errors %}
<p>{% blocktrans %}Your username and password didn't match. Please try again.{% endblocktrans %}</p>
{% endif %}
<div class="login_form">
<form method="post" action="{% url 'auth_login' %}">{% csrf_token %}
{{ form.as_p }}
<p>{% blocktrans %}<a href="{{ auth_pwd_reset_url }}">Forgot</a> your password?
    <a href="{{ register_url }}">Need an account</a>?{% endblocktrans %}</p>

<input type="submit" value="{% trans "login" %}" class="btn btn-primary"/>
<input type="hidden" name="next" value="{{ next }}" />
</form>
</div>
{% endblock %}
