{% extends "base.html" %}

{% block title %}{{ profile_user }}{% endblock %}

{% block content %}
<h1>{{ profile_user }}</h1>
<p>Salutation: {{ profile_user.userprofile.salutation }}</p>
<p>Email: {{ profile_user.email }}</p>
<p>Phone: {{ profile_user.userprofile.phone }}</p>
<p>Address 1: {{ profile_user.userprofile.address1 }}<p/>
<p>Address 2: {{ profile_user.userprofile.address2 }}<p/>
<p>City: {{ profile_user.userprofile.city }}</p>
<p>Postcode: {{ profile_user.userprofile.postcode }}</p>
<p>Summary: {{ profile_user.userprofile.summary }}</p>
<p>Web of Trust:
    {% if profile_user.userprofile.wot_name %}
        <a href="http://bitcoin-otc.com/viewratingdetail.php?nick={{ profile_user.userprofile.wot_name }}">{{ profile_user.userprofile.wot_name }}</a>
    {% endif %}
    ({{ profile_user.userprofile.wot_rating }})
</p>
<p>Summary: {{ profile_user.userprofile.summary }}</p>
<p>
Tags:
{% for tag in profile_user.userprofile.tags.all %}
    {{ tag }},
{% endfor %}
</p>
<p>
Attached Files:
{% for file in profile_user.userprofile.attached_files.all %}
    <a href="{{ file.file.url }}">{{ file }}</a>
{% endfor %}
<div class="form form-300">
<form method="POST" action="{% url "ats_profiles_note" profile_user.id %}">
{% csrf_token %}
{{ form.as_p }}
<input type="Submit" value="Submit" class="btn btn-primary">
</form>
</p>
</div>
{% endblock %}
