{% extends "base.html" %}
{% block title %}Home{% endblock %}

{% block content %}

<div class="yk-notifications">

</div>



<h1></h1>
<div class="jumbotron text-center">
              <p>
               <h1>btcTalent <span class="label label-danger">alpha</span></h1>
               <h3>The source for mining  digital currency talent pools </h3>
               </p>
              <p>&nbsp;</p>
              <p><br>
              </p>
              <p>Featuring:<br>


                <a href="http://bitcoin-otc.com/ratingsfilter.php?notes=dev" target="_blank">WoT</a> reputation tracking and candidate screening tools<br>
                <a href="http://talent.proofchain.info" target="_blank">'Proof-of-Work'</a>  developer github and source code validations<br>
                <a href="http://message.btcTalent.com" target="_blank">Sign & verify messages</a> for candidate-employer correspondence<br>
              <a  href="http://BitRecruiter.com" target="_blank">Recruitment</a> and talent acquisition services</p>
              <p>&nbsp;</p>
              <p>&nbsp;</p>
              <p>Non-standard features:<br>
              <a href="https://github.com/bitcoin/bips/blob/master/bip-0016.mediawiki" target="_blank">P2SH</a>, <a href="https://en.bitcoin.it/wiki/Script" target="_blank">Scripted</a>, and <a href="https://bitcointalk.org/index.php?topic=131443.0" target="_blank">nLockTime</a> transactions for automated 'paycheck' applications<br>
              <a href="http://blockoftrust.com" target="_blank">Escrow</a> payroll processing agents and multisig transactions for verifying deliverables &amp; issuing payments<br>
              <p>&nbsp;</p>
                <a class="login-link btn btn-primary btn-lg" title="Login with LinkedIn" href="/login/linkedin?ref=%252Fen"><i class="fa fa-linkedin"></i> LinkedIn</a>
  </div>
<div class="container col-md-4">
<aside class="panel panel-info">
  <div class="panel-heading">Features</div>
  <div class="panel-body ">
   <ul>
   <li>responsive design (uses bootstrap3 and font awesome)</li>
   <li><a href="https://www.transifex.com/projects/p/yawik/">multilingual</a></li>
   <li>ready for social recruiting</li>
   <li>enter job ads</li>
   <li><a href="/en/apply/17908">application forms</a>.   </li>
   <li>manage applications</li>
   <li>open and free software</li>
   </ul>
  </div>
</aside>
</div>
<div class="container col-md-4">
<aside class="panel panel-info">
  <div class="panel-heading">
    <h3 class="panel-title">Developer News</h3>
  </div>
  <div class="panel-body">
    <ul>
    <li>
 
    </a>
  </li>
    </ul>
  </div>
</aside>
</div>
<div class="container col-md-4">
<aside class="panel panel-info">
  <div class="panel-heading">
    <h3 class="panel-title">Recruiter News</h3>
  </div>
  <div class="panel-body">
  <ul>
      <li>
   
  </li>
    </ul>
  </div>
</aside>
</div>
{% endblock %}
