{% extends "base.html" %}
{% block title %}Home{% endblock %}

{% block content %}

<div class="yk-notifications">

</div>



<h1></h1>
<div class="jumbotron text-center">
              <p>
               <h1>btcTalent <span class="label label-danger">alpha</span></h1>
               <h3>The source for mining  digital currency talent pools </h3>
               </p>
              <p>&nbsp;</p>
              <p><br>
              </p>
              <p>Featuring:<br>


                <a href="http://bitcoin-otc.com/ratingsfilter.php?notes=dev" target="_blank">WoT</a> reputation tracking and candidate screening tools<br>
                <a href="http://talent.proofchain.info" target="_blank">'Proof-of-Work'</a>  developer github and source code validations<br>
                <a href="http://message.btcTalent.com" target="_blank">Sign & verify messages</a> for candidate-employer correspondence<br>
              <a  href="http://BitRecruiter.com" target="_blank">Recruitment</a> and talent acquisition services</p>
              <p>&nbsp;</p>
              <p>&nbsp;</p>
              <p>Non-standard features:<br>
              <a href="https://github.com/bitcoin/bips/blob/master/bip-0016.mediawiki" target="_blank">P2SH</a>, <a href="https://en.bitcoin.it/wiki/Script" target="_blank">Scripted</a>, and <a href="https://bitcointalk.org/index.php?topic=131443.0" target="_blank">nLockTime</a> transactions for automated 'paycheck' applications<br>
              <a href="http://blockoftrust.com" target="_blank">Escrow</a> payroll processing agents and multisig transactions for verifying deliverables &amp; issuing payments<br>
              <p>&nbsp;</p>
                <a class="login-link btn btn-primary btn-lg" title="Login with LinkedIn" href="/login/linkedin?ref=%252Fen"><i class="fa fa-linkedin"></i> LinkedIn</a>
  </div>
<div class="container col-md-4">
<aside class="panel panel-info">
  <div class="panel-heading">Features</div>
  <div class="panel-body ">
   <ul>
   <li>responsive design (uses bootstrap3 and font awesome)</li>
   <li><a href="https://www.transifex.com/projects/p/yawik/">multilingual</a></li>
   <li>ready for social recruiting</li>
   <li>enter job ads</li>
   <li><a href="/en/apply/17908">application forms</a>.   </li>
   <li>manage applications</li>
   <li>open and free software</li>
   </ul>
  </div>
</aside>
</div>
<div class="container col-md-4">
<aside class="panel panel-info">
  <div class="panel-heading">
    <h3 class="panel-title">Developer News</h3>
  </div>
  <div class="panel-body">
    <ul>
    <li>
   <a href="https://github.com/cross-solution/CrossApplicantManager/commit/5782a9bd54b4e2da13afbfee1b4783ab5012f4de">
        Merge branch 'hotfix/0.14.5'
    </a>
  </li>
    <li>
   <a href="https://github.com/cross-solution/CrossApplicantManager/commit/0a77b76ca3ba4a849b57fb52255f07b6be054823">
        [Auth] fixes: user created by external application is not recruiter
    </a>
  </li>
    <li>
   <a href="https://github.com/cross-solution/CrossApplicantManager/commit/6be44c84d64da7ab2cf1a9850177fa83f93c7e76">
        Merge branch 'hotfix/0.14.4'
    </a>
  </li>
    <li>
   <a href="https://github.com/cross-solution/CrossApplicantManager/commit/7cceb3268abc344c875df83f43ada91b449c1632">
        [Applications] Fixes: Status changes are not saved.
    </a>
  </li>
    <li>
   <a href="https://github.com/cross-solution/CrossApplicantManager/commit/bc19941f0b9ddb27214fe357537bdffd82747cc3">
        Merge branch 'hotfix/0.14.3'
    </a>
  </li>
    <li>
   <a href="https://github.com/cross-solution/CrossApplicantManager/commit/efae07897803b67221c6d54f7f64372edffb46d8">
        (#5425) deprecated method save in application::manage::statuschange
    </a>
  </li>
    <li>
   <a href="https://github.com/cross-solution/CrossApplicantManager/commit/8b15bd049aca887969ab8fb8325568f25e128d20">
        Merge branch 'hotfix/0.14.2'
    </a>
  </li>
    <li>
   <a href="https://github.com/cross-solution/CrossApplicantManager/commit/5490ac2ee4956a6377edc32ad0c7235ff4610795">
        [CV] Hides navigation entry and disabled routes.
    </a>
  </li>
    <li>
   <a href="https://github.com/cross-solution/CrossApplicantManager/commit/4965ff95fcf556daeea135d44d02df7ba4cb8758">
        Merge branch 'hotfix/0.14.1'
    </a>
  </li>
    <li>
   <a href="https://github.com/cross-solution/CrossApplicantManager/commit/0d0276169ceb5a3b06628846e2bb82efe3a5ee53">
        [Applications] Fixes: Subscriber is not stored in an application.
    </a>
  </li>
    <li>
   <a href="https://github.com/cross-solution/CrossApplicantManager/commit/b34585b42644725c7094c665d30900ebde291f9d">
        Merge branch 'release/0.14'
    </a>
  </li>
    <li>
   <a href="https://github.com/cross-solution/CrossApplicantManager/commit/e7414aac6940851cf0bf289ac00eb16d5d51bbb7">
        [General] fixes symlinks and locations of javascript files in the build packages
    </a>
  </li>
    <li>
   <a href="https://github.com/cross-solution/CrossApplicantManager/commit/3e44c209e1e5cfe9182abfb3a0b4d4126fd28f4e">
        [Auth] Create default user from configuration, if it does not exist.
    </a>
  </li>
    <li>
   <a href="https://github.com/cross-solution/CrossApplicantManager/commit/fff65843e10dcd4c3bf423befae0f45392f6e874">
        [Core,Auth] Adds mail recipients override configuration.
    </a>
  </li>
    <li>
   <a href="https://github.com/cross-solution/CrossApplicantManager/commit/1c8f574610cc159dbaaa11e86d32d11030efb2cf">
        [Applications] Fixes: List headers are rendered wrong; Wrong javascript source file links.
    </a>
  </li>
    <li>
   <a href="https://github.com/cross-solution/CrossApplicantManager/commit/7f975d85ee266f704a4392972fd6cdde1abc3d72">
        [Applications] Implements application not found page.
    </a>
  </li>
    <li>
   <a href="https://github.com/cross-solution/CrossApplicantManager/commit/e31d904e770a5280eac3fbc8ebbdac024fdb73d6">
        Merge branch 'feature/Applications-fix_linkedin_profile_preview' into develop
    </a>
  </li>
    <li>
   <a href="https://github.com/cross-solution/CrossApplicantManager/commit/295d605ae74182dc6c744f443c3e2b20ba9227df">
        [Core] Adds CSS styles to file upload formular.
    </a>
  </li>
    <li>
   <a href="https://github.com/cross-solution/CrossApplicantManager/commit/e86b07f3ec9d42cf535c1c87ab9f575dc475517a">
        [Auth,Applications] Fixes social profiles. Especially "linkedin".
    </a>
  </li>
    <li>
   <a href="https://github.com/cross-solution/CrossApplicantManager/commit/2aab32971631bccc1df0bd4ccc80f87eeeeec730">
        [General] fixes path in packages. ZIP and TGZ packages are extracting into YAWIK
    </a>
  </li>
    </ul>
  </div>
</aside>
</div>
<div class="container col-md-4">
<aside class="panel panel-info">
  <div class="panel-heading">
    <h3 class="panel-title">Recruiter News</h3>
  </div>
  <div class="panel-body">
  <ul>
      <li>
   <a href="http://yawik.org/2014/08/bewerbungsformular-mit-vorschaufunktion/">Bewerbungsformular mit Vorschaufunktion</a>
  </li>
    <li>
   <a href="http://yawik.org/2014/08/welche-lizenz-soll-das-bewerbermanagement-yawik-nutzen/">Welche Lizenz soll das Bewerbermanagement YAWIK nutzen?</a>
  </li>
    <li>
   <a href="http://yawik.org/2014/07/was-bedeutet-social-recruiting/">Was bedeutet Social Recruiting?</a>
  </li>
    <li>
   <a href="http://yawik.org/2014/04/datensicherung-und-sicherheit-von-bewerbungen/">Datensicherung und Sicherheit von Bewerbungen</a>
  </li>
    <li>
   <a href="http://yawik.org/2014/03/awesome-fonts/">Teams nicht nur für Recruiter</a>
  </li>
    <li>
   <a href="http://yawik.org/2014/03/we-call-it-yawik/">We call it YAWIK</a>
  </li>
    <li>
   <a href="http://yawik.org/2014/03/hallo-welt/">Cross Applicant Management Blog</a>
  </li>
    </ul>
  </div>
</aside>
</div>
{% endblock %}
